:root{
    --fullsize:100%;
    --white:#fff;
}
@define-mixin fontstyle{
    p {
        color: red;
    }
}
@mixin fontstyle;

body{
    display:flex;
    color:var(--white);
}
#content{
    width:var(--fullsize);
    text-align:center;
    height:500px;
    font-size:24px;
    margin:100px auto;
    background:red;
}
